body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
.container {
  width: 450px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.container::before,
.caption {
  position: absolute;
  top: 0;
  left: 0;
}
.container::before,
.caption > * {
  transition: all 0.2s;
}
.container::before {
  content: "";
  width: 120%;
  height: 205%;
  background-color: #2d3436;
  opacity: 0.8;
  transform: translate(650px, -100px) rotate(180deg);
}
.container:hover::before {
  transform: translate(0px, 0px) rotate(0deg);
}
.container > img {
  width: 100%;
}
.caption {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-size: 17px;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-150px);
}
.container:hover h2 {
  transform: translateY(0);
  transition-delay: 0.5s;
}
p {
  font-size: 16px;
  width: 80%;
  align-self: center;
  transform: translateX(300px) rotate(90deg);
}
.container:hover p {
  transform: translateX(0) rotate(0deg);
  transition-delay: 0.4s;
}
a {
  text-decoration: none;
  background-color: black;
  color: white;
  width: 100px;
  padding: 15px;
  margin-bottom: 20px;
  align-self: center;
  transform: translateY(-300px);
}
.container:hover a {
  transform: translateY(0);
  transition-delay: 0.3s;
}
